@model List<Bhaktimarg.Models.productdetailsdto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section AdditionalMeta
{
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We are providing many services like website design & development, money transfer API, Multi recharge API, school management software & etc." />
    <link rel="canonical" href="https://ezytmtechnologies.com/services" />s
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/Content/css/blog.css" />
    <title>blog</title>

</head>
<body>
    <section class="blog">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="blog-card p-3">
                        <div class="tab-content 1" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-post-1" role="tabpanel" aria-labelledby="v-post-1-tab">

                                <ul class="row m-0 d-flex align-items-start">
                                    <li class="col-12 col-md-12"><h4 class="mb-3">Create Effective Web Design</h4></li>

                                    <li class="col-md-8 col-12">
                                        <p class="justify"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </li>
                                    <li class="col-md-4 col-12">
                                        <img src="content/image\blog-post-1.jpg" class="w-100" alt="img">
                                    </li>
                                    <li class="col-12 col-md-12">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
                                    </li>
                                    <li class="col-12">
                                        <div class="ezytm-btn text-center position-relative text-uppercase">
                                            <a href="#">Read More ...<i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="v-post-2" role="tabpanel" aria-labelledby="v-post-2-tab">
                                <ul class="row m-0 d-flex align-items-start">
                                    <li class="col-12 col-md-12"><h4 class="mb-3">Create Effective Web Design</h4></li>

                                    <li class="col-md-8 col-12">
                                        <p class="justify"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </li>
                                    <li class="col-md-4 col-12">
                                        <img src="content/image\blog-post-1.jpg" class="w-100" alt="img">
                                    </li>
                                    <li class="col-12 col-md-12">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
                                    </li>
                                    <li class="col-12">
                                        <div class="ezytm-btn text-center position-relative text-uppercase">
                                            <a href="#">Read More ...<i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="v-post-3" role="tabpanel" aria-labelledby="v-post-3-tab">
                                <ul class="row m-0 d-flex align-items-start">
                                    <li class="col-12 col-md-12"><h4 class="mb-3">Create Effective Web Design</h4></li>

                                    <li class="col-md-8 col-12">
                                        <p class="justify"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </li>
                                    <li class="col-md-4 col-12">
                                        <img src="content/image\blog-post-1.jpg" class="w-100" alt="img">
                                    </li>
                                    <li class="col-12 col-md-12">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
                                    </li>
                                    <li class="col-12">
                                        <div class="ezytm-btn text-center position-relative text-uppercase">
                                            <a href="#">Read More ...<i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="v-post-4" role="tabpanel" aria-labelledby="v-post-4-tab">
                                <ul class="row m-0 d-flex align-items-start">
                                    <li class="col-12 col-md-12"><h4 class="mb-3">Create Effective Web Design</h4></li>

                                    <li class="col-md-8 col-12">
                                        <p class="justify"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </li>
                                    <li class="col-md-4 col-12">
                                        <img src="content/image\blog-post-1.jpg" class="w-100" alt="img">
                                    </li>
                                    <li class="col-12 col-md-12">
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
                                    </li>
                                    <li class="col-12">
                                        <div class="ezytm-btn text-center position-relative text-uppercase">
                                            <a href="#">Read More ...<i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-12 col-md-4">
                    <div class="blog-card-right">
                        <div class="blog-card-header"><h4 class="mb-0">RECENT POSTS</h4></div>
                        <div class="blog-card-body">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-post-1-tab" data-toggle="pill" href="#v-post-1" role="tab" aria-controls="v-post-1" aria-selected="true"><i class="fa fa-angle-right mr-2"></i> Post 1</a>
                                <a class="nav-link" id="v-post-2-tab" data-toggle="pill" href="#v-post-2" role="tab" aria-controls="v-post-2" aria-selected="false"><i class="fa fa-angle-right mr-2"></i> Post 2</a>
                                <a class="nav-link" id="v-post-3-tab" data-toggle="pill" href="#v-post-3" role="tab" aria-controls="v-post-3" aria-selected="false"><i class="fa fa-angle-right mr-2"></i> Post 3</a>
                                <a class="nav-link" id="v-post-4-tab" data-toggle="pill" href="#v-post-4" role="tab" aria-controls="v-post-4" aria-selected="false"><i class="fa fa-angle-right mr-2"></i> Post 4</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="previous-post">
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-4">
                        <div class="previous-post-card">
                            <div class="previous-post-img">
                                <img src="content/image\blog-post-1.jpg" class="w-100" alt="img">
                                <div class="date">
                                    <p>April 2022</p>
                                </div>
                                <div class="share">
                                    <i class="fa fa-share"></i>
                                </div>
                            </div>
                            <div class="previous-post-card-body">
                                <h4 class="previous-post-title">Card Title</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                <div class="ezytm-btn text-center position-relative text-uppercase">
                                    <a href="#">Read More ...<i class="fas fa-arrow-right"></i></a>
                                </div>

                            </div>

                        </div>
                    </div>
                }
                <div class="col-12 col-md-4">
                    <div class="previous-post-card">
                        <div class="previous-post-img">
                            <img src="content/image\blog-post-1.jpg" class="w-100" alt="img">
                            <div class="date">
                                <p>April 2022</p>
                            </div>
                            <div class="share">
                                <i class="fa fa-share"></i>
                            </div>
                        </div>
                        <div class="previous-post-card-body">
                            <h4 class="previous-post-title">Card Title</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="ezytm-btn text-center position-relative text-uppercase">
                                <a href="#">Read More ...<i class="fas fa-arrow-right"></i></a>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="previous-post-card">
                        <div class="previous-post-img">
                            <img src="content/image\blog-post-1.jpg" class="w-100" alt="img">
                            <div class="date">
                                <p>April 2022</p>
                            </div>
                            <div class="share">
                                <i class="fa fa-share"></i>
                            </div>
                        </div>
                        <div class="previous-post-card-body">
                            <h4 class="previous-post-title">Card Title</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="ezytm-btn text-center position-relative text-uppercase">
                                <a href="#">Read More ...<i class="fas fa-arrow-right"></i></a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>


