

.blog-card.p-3 h1 {
    font-size: 46px;
    font-weight: 600;
    color: #b12e11;
    text-align: center;
    padding-top: 10px;
    font-family: Amita;
}

.blog {
    width: 100%;
    padding: 40px 0px;
}

    .blog img {
        margin-bottom: 20px;
        height: 500px;
    }

.blog-card {
    padding: 20px 0px;
    background: #fff;
    border-radius: 6px;
}

    .blog-card h4 {
        font-size: 43px;
        color: #162b9e;
        font-weight: 600;
    }

.blog-card-right {
    background: #fff;
    border-radius: 6px;
}

.blog-card-header {
    background: #313b9c;
    border-radius: 6px 6px 0px 0px;
    padding: 15px;
}

    .blog-card-header h4 {
        color: #fff;
        font-size: 20px;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #19404c;
    background-color: transparent;
}

.nav-pills .nav-link {
    border-radius: 0.25rem;
    color: #000;
    border-bottom: 1px solid #0db5f0;
    border-radius: 0;
}

.justify {
    text-align: justify;
}

.previous-post {
    padding: 40px 0px;
    width: 100%;
}
.previous-post-card-body a {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #b03010;
    font-family: laila;
}
.previous-post-card {
    width: 100%;
    transition: all 0.3s ease-in-out;
    margin-bottom: 29px;
    border-radius: 22px;
    background-color: #fff;
    box-shadow: 0 0 3px 1px #000;
}

    .previous-post-card:hover {
        border: 2px solid #ebc290;
    }

        .previous-post-card:hover .share {
            right: 0;
        }

.share {
    position: absolute;
    right: -48px;
    bottom: 0;
    background: #e3bf93;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.previous-post-img {
    width: 100%;
    position: relative;
    height: 200px;
    overflow: hidden;
}

    .previous-post-img img {
        width: 100%;
        height: 100%;
    }

.previous-post-card .date {
    position: relative;
    background: #0cb6f1;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
}

    .previous-post-card .date p {
        margin-bottom: 0;
        color: #fff;
    }

.previous-post-card-body {
    padding: 15px;
}

h4.previous-post-title {
    font-size: 24px;
    font-weight: 600;
}

.show-more .blog-img {
    overflow: hidden;
    border-radius: 6px;
    position: relative;
}

    .show-more .blog-img img {
        height: auto;
        width: 100%;
        margin-bottom: 40px;
    }

.show-more .date {
    position: absolute;
    top: 0;
    left: 0;
    background: #121e2dbf;
    margin: -16px;
    border-radius: 7px;
}

    .show-more .date p {
        margin-bottom: 0;
        color: #fff;
        padding: 0 6px;
    }

.show-more blockquote {
    position: relative;
    border: none;
    background-color: #edd4ad2e;
    padding: 45px 30px 45px 110px;
    margin: 18px 14px 12px 14px;
}

    .show-more blockquote .quote-icon {
        position: absolute;
        left: -20px;
        top: -20px;
        width: 113px;
        height: 113px;
        color: #121e2d;
        font-size: 40px;
        line-height: 113px;
        text-align: center;
        border-radius: 50%;
        background-color: #ffffff;
    }

    .show-more blockquote .quote-text {
        position: relative;
        font-size: 18px;
        color: #777777;
        font-weight: 400;
        line-height: 1.7em;
        font-style: italic;
    }

@media only screen and (max-width: 767px) {
    .blog-card.p-3 h1 {
        font-size: 26px;
    }

    .blog-card {
        margin-bottom: 20px;
        padding: 15px 0 !important;
    }

    .share {
        right: 0;
        bottom: 16px;
    }

    .blog-card h4 {
        font-size: 26px;
    }

    .previous-post-img {
        height: 141px;
    }

    .previous-post-card {
        margin-bottom: 15px;
    }

    .previous-post {
        padding: 25px 0px;
    }

    .show-more blockquote .quote-icon {
        left: -14px;
        top: -20px;
        width: 70px;
        height: 70px;
        font-size: 28px;
        line-height: 70px;
    }

    .show-more blockquote {
        position: relative;
        border: none;
        background-color: #edd4ad2e;
        padding: 50px 15px 19px 15px;
        margin: 18px 14px 12px 14px;
    }

    div#v-pills-tabContent {
        padding: 0px !important;
    }

    .blog img {
        height: auto;
    }
}



.bloghead1 {
    padding-top: 150px;
    text-align: center;
    height: 350px;
    background: #03085aba;
}

section.bloghead {
    background-image: url(/Content/Images/blog-ban.jpg);
    background-size: cover;
}

.navigation {
    background: none;
}

.bloghead1 h1 {
    font-size: 70px;
    color: white;
}

.readmorebtn a {
    background: #00236b;
    font-size: 19px;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 27px;
    color: white;
}

section.blog.show-more.hasblin {
    padding: 120px 0;
}

h1.bloginH1 {
    text-align: center;
    margin-bottom: 30px;
    color: #0db5f0;
}

div#v-pills-tabContent {
    padding-left: 30px;
    text-align: justify;
}

.footer-widget a {
    color: white !important;
}

.readmorebtn {
    margin-top: 24px !important;
}
