div#navbarSupportedContent {
    justify-content: end;
    padding-right: 50px;
    font-size: 18px;
}

a.navbar-brand.navlogo img {
    width: 200px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(178 47 16) !important;
    font-weight: 600 !important;
}
footer {
    padding: 50px 30px;
    background: linear-gradient(139deg, white 50%, #8a2d16 45%);
    text-align: center;
    border-top: 3px solid #8a2d16;
}

.logo {
    font-size: 16px;
    width: 80%;
}

    .logo img {
        width: 200px;
        padding-bottom: 20px;
    }

.footer-text ul {
    list-style: none;
    padding-left: 0;
}

.footer-text a {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    font-family: Amita;
    font-weight: 600;
}

.footer-text p {
    font-size: 33px;
    font-weight: 600;
}

.strip {
    background: #211630;
    color: white;
    padding: 13px 0 1px;
    font-size: 18px;
    text-align: center;
}

    .strip a {
        text-decoration: none;
        color: #f7e51e;
        font-weight: 500;
    }

@@media only screen and (max-width: 767px) {
    .logo {
        width: 100%;
    }

    footer {
        padding: 15px;
        background: #ecf2f9;
    }

    .logo p {
        display: none;
    }
}
